# IDE/Editor Configuration Directory
**/.vscode
**/.idea

# Python cache files
**/*.pyc
**/*.pyd
**/__pycache__

# System configuration files
server.json

# System log files
.log/*
**/*.log

# Configuration file
coll_config.json

# 编译后二进制 py 文件
*.mpy

# 
.python-version
